[data-variant='default'] {
  --pulse-color: var(--primary);
}
[data-variant='destructive'] {
  --pulse-color: var(--destructive);
}
[data-variant='secondary'] {
  --pulse-color: var(--secondary-foreground);
}
[data-variant='outline'] {
  --pulse-color: var(--ring);
}
[data-variant='ghost'] {
  --pulse-color: var(--ring);
}

.before\:animate-shine-effect::before {
  animation: shine-effect 3s ease-out infinite;
}

.animate-rainbow-effect {
  animation: rainbow-effect 3s linear infinite;
}

.animate-pulsating-effect {
  animation: pulsating-effect 1.5s ease-out infinite;
}

.card-shine-effect {
  animation: card-shine-effect var(--duration) infinite linear;
}

@keyframes shine-effect {
  0% {
    background-position: 200% 0;
  }
  25% {
    background-position: -200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes rainbow-effect {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes pulsating-effect {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color, currentColor);
  }
  70% {
    box-shadow: 0 0 0 8px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

@keyframes card-shine-effect {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
